:root {
    --allered-red: #D70909;
    --allered-black: #0B0B0B;
    --allered-framesize: 8px;
    --allered-white: #FBFBFB;
    --allered-fontfamily: "Helvetica Neue", Arial, sans-serif;
}


/*CHANGE THE CONTENT-BOX TO BORDER-BOX */
* {
    box-sizing: border-box;
}

/*FIXING NAVBAR MARGINS */
.navbar {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 50px;
}

/*RED BORDER AROUND WEBSITE*/
.allered-body {
    /*BACKGROUND*/
    background-color: #FBFBFB;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    /*POSIZIONE DI PARTENZA DELLO SFONDO - COORDINATA y*/
    top: 0;
    /*POSIZIONE DI PARTENZA DELLO SFONDO - COORDINATA x*/
    left: 0;
    /* FORZA LA POSIZIONE DEL FRAME INDIPENDENTEMENTE DAGLI ALTRI CONTENUTI*/
    position: fixed;
    /* VALORE 3 PER STARE SOPRA AL FRAME*/
    z-index: 3;
    /*SETTO L'ALTEZZA E LA LARGHEZZA DEL BODY AL 100 MENO LA DIMENSIONE DEL BORDO PER ENTRAMBI I LATI*/
    height: calc(100vh - var(--allered-framesize)*2);
    width: calc(100vw - var(--allered-framesize)*2);
    margin: var(--allered-framesize);
    /*IMPEDISCE CHE IL CONTENUTO CHE ESCE DAL DIV IN ORIZZIONTALE SI VEDA*/
    overflow-x: hidden;
    /*PERMETTE CHE IL CONTENUTO CHE ESCE DAL DIV IN VERTICALE SI VEDA SCROLLANDO*/
    overflow-y: auto;
}

.allered-frame {
    /*BACKGROUND RED*/
    background-color: var(--allered-red);
    /* FORZA LA POSIZIONE DEL FRAME INDIPENDENTEMENTE DAGLI ALTRI CONTENUTI*/
    position: fixed;
    /* VALORE DELL'ASSE z CHE INDICA CHE HA UNA PROFONDITA', IL BODY HA VALORE 3 PER STARE SOPRA*/
    z-index: 2;
    /*POSIZIONE DI PARTENZA DELLO SFONDO - COORDINATA y*/
    top: 0;
    /*POSIZIONE DI PARTENZA DELLO SFONDO - COORDINATA x*/
    left: 0;
    /* DIMENSIONE FRAME 100% DELLA FINESTRA IN ALTEZZA*/
    height: 100vh;
    /* DIMENSIONE FRAME 100% DELLA FINESTRA IN LARGHEZZA*/
    width: 100vw;
}

.allered-brand {
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4em;
    letter-spacing: .04px;

}

.allered-subbrand {
    display: flexbox;
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8em;
    letter-spacing: .04px;
    margin-top: -15px;
}

.allered-text {
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-size: 0.8em;
    letter-spacing: .04px;
}

.allered-footer {
    color: var(--allered-black);
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: center;
    margin-top: 100px;
}

.allered-social {
    display: inline-flex;
    padding: 10px 0px;
}

.allered-social__image {
    height: 23px;
    width: 23px;
}

/* .allered-footer__socials {}

.allered-footer__identity {} */

.allered-hamburger {
    overflow: hidden;
    width: 30px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 0;
    outline: none;
}

.allered-hamburger.collapsed .allered-hamburger__line--top,
.allered-hamburger.collapsed .allered-hamburger__line--middle,
.allered-hamburger.collapsed .allered-hamburger__line--bottom {
    transform: none;
    opacity: 1;
}

.allered-hamburger__line {
    width: 30px;
    height: 3px;
    background: var(--allered-black);
    border-radius: 4px;
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

.allered-hamburger__line--top {

    transform: rotate(45deg) translate(3px, 5px);
}

.allered-hamburger__line--middle {
    transform: rotate(495deg) translate(0px);
}

.allered-hamburger__line--bottom {
    transform-origin: bottom right;
    transform: rotate(45deg);
    opacity: 0;
}


/* .allered-navbar {} */



/*
MENU ITEMS INACTIVE COLOR
HANNO SPECIFICITA' MAGGIORE DELLE CLASSI .navbar-light e .navbar-toggler DI BOOTSTRAP
*/
.allered-navbar .allered-menu .allered-item .allered-link {
    color: var(--allered-black);
}

/*WHEN MENU ITEM IS ACTIVE*/
.allered-navbar .allered-menu .allered-item.active .allered-link {
    color: var(--allered-red);
}

/* .allered-menu {} */

.allered-item {
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;

}

.allered-link {
    padding: 4px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    border: 0;
}


.allered-container {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    text-align: center;
}

.allered-container__glide {
    max-width: 800px;
    margin: 0 auto;
}

.allered-image {
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
    padding-top: 30px;
}

.allered-image__caption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: left;
    position: absolute;
    padding-bottom: 20px;
}

.allered-image__subcaption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .045px;
    text-align: left;
}

.allered-slide__caption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: left;
    position: absolute;
    width: 400px;
}

.allered-slide__subcaption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .045px;
    text-align: left;
}

/* SLIDER CONTROLS */

.allered-slide-controls {
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--allered-black);
    border-right: 2px solid var(--allered-black);
    position: absolute;
    right:0px;
}

.allered-next {
    transform: rotate(45deg);
}


.allered-back {
    transform: rotate(-135deg);
}


.allered-image__biography {
    border: 3px solid var(--allered-red);
    padding: 0;
}



/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:400px) {

    .allered-brand {
        font-size: 1.4em;
        letter-spacing: .04px;
        margin-left: -20px;
    }

    .allered-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-top: -12px;
        margin-left: -20px;
    }

    .allered-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .allered-social {
        height: 20px;
        width: 20px;
    }

    .allered-slide__caption {
        font-size: 0.5em;
        letter-spacing: .04px;
        left: 0em;
    }

    .allered-slide__subcaption {
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: .04px;
    }
}


/*VIEW ON TABLET*/
@media only screen and (min-width: 401px) and (max-width:768px) {

    .allered-brand {
        font-size: 1.4em;
        letter-spacing: .04px;
        margin-left: -20px;
    }

    .allered-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-top: -12px;
        margin-left: -20px;
    }

    .allered-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .allered-social {
        height: 20px;
        width: 20px;
    }

    .allered-slide__caption {
        font-size: 0.7em;
        letter-spacing: .04px;
        left: 0em;
    }

    .allered-slide__subcaption {
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: .04px;
    }
}

/*VIEW ON DESKTOP*/
@media only screen and (max-width:961px) {}