:root {
    --allered-red: #D70909;
    --allered-black: #0B0B0B;
    --allered-framesize: 8px;
    --allered-white: #FBFBFB;
    --allered-fontfamily: "Helvetica Neue", Arial, sans-serif;
}


/*CHANGE THE CONTENT-BOX TO BORDER-BOX */
* {
    box-sizing: border-box;
}



/*FIXING NAVBAR MARGINS */
.navbar {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.allered-app{
    background-color: #FBFBFB;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    padding: 10px;
    overflow-x: hidden;
}

.allered-app__frame
{
    background: var(--allered-red);
    position: fixed;
    z-index: 999;
}

.allered-app__frame--left
{
height: 100vh;
left:0;
top:0;
width: 10px;

}

.allered-app__frame--top
{
    width: 100vw;
    left:0;
    top:0;
    height: 10px;
}

.allered-app__frame--bottom
{
    width: 100vw;
    left:0;
    bottom:0;
    height: 10px;
}

.allered-app__frame--right
{
    height: 100vh;
    right:0;
    top:0;
    width: 10px;
}



.allered-brand {
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4em;
    letter-spacing: .04px;

}

.allered-subbrand {
    display: flexbox;
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8em;
    letter-spacing: .04px;
    margin-top: -15px;
}

.allered-text {
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-size: 0.8em;
    letter-spacing: .04px;
}

.allered-footer {
    color: var(--allered-black);
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: center;
    margin-top: 100px;
}

.allered-social {
    display: inline-flex;
    padding: 10px 0px;
}

.allered-social__image {
    height: 23px;
    width: 23px;
}

/* .allered-footer__socials {}

.allered-footer__identity {} */

.allered-hamburger {
    overflow: hidden;
    width: 30px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 0;
    outline: none;
}

.allered-hamburger.collapsed .allered-hamburger__line--top,
.allered-hamburger.collapsed .allered-hamburger__line--middle,
.allered-hamburger.collapsed .allered-hamburger__line--bottom {
    transform: none;
    opacity: 1;
}

.allered-hamburger__line {
    width: 30px;
    height: 3px;
    background: var(--allered-black);
    border-radius: 4px;
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

.allered-hamburger__line--top {

    transform: rotate(45deg) translate(3px, 5px);
}

.allered-hamburger__line--middle {
    transform: rotate(495deg) translate(0px);
}

.allered-hamburger__line--bottom {
    transform-origin: bottom right;
    transform: rotate(45deg);
    opacity: 0;
}


/* .allered-navbar {} */



/*
MENU ITEMS INACTIVE COLOR
HANNO SPECIFICITA' MAGGIORE DELLE CLASSI .navbar-light e .navbar-toggler DI BOOTSTRAP
*/
.allered-navbar .allered-menu .allered-item .allered-link {
    color: var(--allered-black);
}

/*WHEN MENU ITEM IS ACTIVE*/
.allered-navbar .allered-menu .allered-item.active .allered-link {
    color: var(--allered-red);
}

/* .allered-menu {} */

.allered-item {
    color: var(--allered-black);
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;

}

.allered-link:hover{
    color: var(--allered-red) !important;
}

.allered-link {
    padding: 4px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    border: 0;
}


.allered-container {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    text-align: center;
}

.allered-container__glide {
    width: calc(100% - 30px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
}

.allered-image {
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
}

.allered-image__caption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: left;
}

.allered-typewriter{
    padding:0;
    width: 24em;
    width: 100%;
    height: 50px;
}

.allered-image__subcaption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .045px;
    text-align: left;
}

.allered-slide__caption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: left;
    position: absolute;
    width: 85%;
}

.allered-slide__subcaption {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .045px;
    text-align: left;
}

/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:400px) {

    .allered-brand {
        font-size: 1.4em;
        letter-spacing: .04px;
        margin-left: -20px;
    }

    .allered-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-top: -12px;
        margin-left: -20px;
    }

    .allered-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .allered-social {
        height: 20px;
        width: 20px;
    }

    .allered-slide__caption {
        font-size: 0.5em;
        letter-spacing: .04px;
        left: 0em;
    }

    .allered-slide__subcaption {
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: .04px;
    }
}


/*VIEW ON TABLET*/
@media only screen and (min-width: 401px) and (max-width:768px) {

    .allered-brand {
        font-size: 1.4em;
        letter-spacing: .04px;
        margin-left: -20px;
    }

    .allered-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-top: -12px;
        margin-left: -20px;
    }

    .allered-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .allered-social {
        height: 20px;
        width: 20px;
    }

    .allered-slide__caption {
        font-size: 0.7em;
        letter-spacing: .04px;
        left: 0em;
    }

    .allered-slide__subcaption {
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: .04px;
    }
}

/*VIEW ON DESKTOP*/
@media only screen and (max-width:961px) {}

@media (min-width: 1024px) {
    .allered-container__glide {
        max-width: 800px;
        margin: 0 auto;
    }
}