:root {
    --allered-red: #D70909;
    --allered-red-black: #0B0B0B;
}


/*CHANGE THE CONTENT-BOX TO BORDER-BOX */
* {
    box-sizing: border-box;
}

/*FIXING NAVBAR MARGINS */
.navbar {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
}

/*RED BORDER AROUND WEBSITE*/
.allered-body {
    background-color: #FBFBFB;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
}

.allered-border {
    padding: 5px;
    overflow-x: hidden;
    -webkit-box-shadow:
        inset var(--allered-red) 0 0 0 5px,
        inset var(--allered-red) 0 0 0 1px,
        inset var(--allered-red) 0 0 0 8px;
    -moz-box-shadow:
        inset var(--allered-red) 0 0 0 5px,
        inset var(--allered-red) 0 0 0 1px,
        inset var(--allered-red) 0 0 0 8px;
    box-shadow:
        inset var(--allered-red) 0 0 0 5px,
        inset var(--allered-red) 0 0 0 1px,
        inset var(--allered-red) 0 0 0 8px;
}

.allered-brand {
    color: var(--allered-black) !important;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 2.4em !important;
    letter-spacing: .04px !important;

}

.allered-subbrand {
    display: flexbox !important;
    color: var(--allered-black) !important;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 0.8em !important;
    letter-spacing: .04px !important;
    margin-top: -15px;
}

.allered-text {
    color: var(--allered-black) !important;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-style: normal !important;
    font-size: 0.8em !important;
    letter-spacing: .04px !important;
}

.allered-footer {
    color: var(--allered-black) !important;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 0.8em !important;
    letter-spacing: .04px !important;
    text-align: center !important;
}

.allered-social {
    height: 23px;
    width: 23px;
}

.allered-hamburger {
    overflow: hidden;
    width: 30px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 0;
    outline: none !important;
}

.allered-hamburger.collapsed .allered-hamburger__line--top,
.allered-hamburger.collapsed .allered-hamburger__line--middle,
.allered-hamburger.collapsed .allered-hamburger__line--bottom
{
    transform: none;
    opacity: 1;
}

.allered-hamburger__line {
    width: 30px;
    height: 3px;
    background: var(--allered-black);
    border-radius: 4px;
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

.allered-hamburger__line--top {
  
    transform: rotate(45deg) translate(3px,5px); 
}

.allered-hamburger__line--middle {
    transform: rotate(495deg) translate(0px); 
}

.allered-hamburger__line--bottom {
    transform-origin: bottom right;
    transform: rotate(45deg);
    opacity: 0; 
}


.allered-navbar {}



/*
MENU ITEMS INACTIVE COLOR
HANNO SPECIFICITA' MAGGIORE DELLE CLASSI .navbar-light e .navbar-toggler DI BOOTSTRAP
*/
.allered-navbar .allered-menu .allered-item .allered-link {
    color: var(--allered-black);
}

/*WHEN MENU ITEM IS ACTIVE*/
.allered-navbar .allered-menu .allered-item.active .allered-link {
    color: var(--allered-red);
}

.allered-menu {}

.allered-item {
    color: var(--allered-black) !important;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    text-transform: uppercase;
    font-size: 0.8em !important;
    font-weight: 500 !important;
}

.allered-link {}


.allered-container {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    text-align: center;
}

.allered-image {
    vertical-align: middle;
    text-align: center;
    max-width: 100% !important;
    padding-top: 20px;
}

/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:568px) {

    .allered-brand {
        font-size: 1.6em !important;
        letter-spacing: .04px !important;
        margin-left: -20px;
    }

    .allered-subbrand {
        font-size: 0.7em !important;
        letter-spacing: .04px !important;
        margin-top: -12px;
        margin-left: -20px;
    }

    .allered-footer {
        font-size: 0.6em !important;
        letter-spacing: .04px !important;
    }

    .allered-social {
        height: 20px;
        width: 20px;
    }
}