:root {
    --allered-red: #D70909;
    --allered-red-black: #0B0B0B;
    --allered-framesize: 8px;
    --allered-white: #FBFBFB;
    --allered-fontfamily: "Helvetica Neue", Arial, sans-serif;
}


#fs-frm
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label {
    font-family: var(--allered-fontfamily);
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    
}

#fs-frm label,
#fs-frm legend {
    font-size: .75em;
    display: flex;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea {
    border: 2px solid var(--allered-red);
    background-color: var(--allered-white);
    padding: .65em 1em;
    margin-bottom: 0em;
    margin-top: 1.2em;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: var(--allered-white);
    outline-style: solid;
    outline-width: thin;
    outline-color:var(--allered-red);
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm button,
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-top: 3em;
    width: 20%;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 0.7em;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 2em;
}

#fs-frm button:focus,
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
    background-color: var(--allered-red);
    color: var(--allered-white);
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}

#fs-frm button,
#fs-frm select {
    text-transform: none;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
    width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
}