:root {
    --allered-red: #D70909;
    --allered-black: #0B0B0B;
    --allered-framesize: 8px;
    --allered-white: #FBFBFB;
    --allered-fontfamily: "Helvetica Neue", Arial, sans-serif;
}


/* BACK TO TOP CONTROLS */
#allered-backtotop__button {
    /* display: none; */
    position: fixed;
    bottom: 0px;
    right: 20px;
    padding: 0;
    z-index: 99;
    font-size: 0.75em;
    font-weight: 500;
    background-color: transparent;
    color: var(--allered-black);
    /* border-radius: 2px;
    border: 3px solid var(--allered-red); */
    outline: none;
    border: none;
    width: 60px;
    height: 60px;
}

/* #allered-backtotop__button:hover 
{
    background-color: var(--allered-red);
    color: var(--allered-white)
} */


.allered-backtotop-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--allered-red);
    border-right: 3px solid var(--allered-red);
}

.allered-backtotop-arrow__top {
    transform: rotate(-45deg);
}


/* SLIDER CONTROLS */

.allered-slide-controls
{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}
  
.allered-next
{
    transform: rotate(45deg);
}


.allered-back{
    transform: rotate(-135deg);
}