*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* BACK TO TOP CONTROLS */
.ar-backtotop {
    /* display: none; */
    position: fixed;
    bottom: 0px;
    left: 20px;
    padding: 0;
    z-index: 99;
    font-size: 0.75em;
    font-weight: 500;
    background-color: transparent;
    color: var(--ar-black);
    /* border-radius: 2px;
    border: 3px solid var(--ar-red); */
    outline: 0;
    border: 0;
    width: 60px;
    height: 60px;
}

.ar-backtotop:focus {
    outline: 0;
    border: 0;
}


.ar-backtotop__arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--ar-red);
    border-right: 3px solid var(--ar-red);
}

.ar-backtotop__arrow--top {
    transform: rotate(-45deg);
}