* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* FRAME AROUND WEBSITE */

.ar-body {
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    padding: 10px;
    overflow-x: hidden;
}

.ar-body__frame {
    background: var(--ar-red);
    position: fixed;
    z-index: 999;
}

.ar-body__frame--left {
    height: 100vh;
    left: 0;
    top: 0;
    width: 10px;

}

.ar-body__frame--top {
    width: 100vw;
    left: 0;
    top: 0;
    height: 10px;
}

.ar-body__frame--bottom {
    width: 100vw;
    left: 0;
    bottom: 0;
    height: 10px;
}

.ar-body__frame--right {
    height: 100vh;
    right: 0;
    top: 0;
    width: 10px;
}

/* END OF FRAME CODE */

/* BODY STYLE */
.ar-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.ar-container__photo {
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
}

.ar-container-contact {
    display: flex;
    overflow: hidden;
    background-color: var(--ar-white);
    /* border-radius: 12px; */
    max-width: 1400px;
    margin: 40px;
    box-shadow: 0 10px 25px 0 rgba(34, 33, 33, 0.2);
}

.ar-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.ar-button {
    background-color: var(--ar-white);
    border-radius: 4px;
    border: 2px solid var(--ar-red);
    cursor: pointer;
    color: var(--ar-black);
    display: block;
    margin: 0 auto;
    width: 100px;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

.ar-button:hover {
    background-color: var(--ar-white);
    position: relative;
    top: 1px;
}

.ar-button:active {
    background-color: var(--ar-red);
    outline-color: var(--ar-red);
    outline-offset: -1px;
    position: relative;
    top: 1px;
    color: var(--ar-white);
}

.ar-column {
    width: 700px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.ar-column__portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    margin: 40px;
}

.ar-column__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(215, 7, 10, 0.9);
}

.ar-image {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    /* border-radius: 12px; */
}

.ar-image__portrait {
    margin: 0 auto;
    width: 100%;
    /* border-radius: 12px; */
}

.ar-image__caption {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    justify-content: flex-start;
    padding-bottom: 5%;
    padding-top: 1%;
    padding-left: 10px;
    color: var(--ar-red);
}

.ar-image__subcaption {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .045px;
    text-align: left;
    color: var(--ar-black);
}

.ar-mail {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .045px;
    cursor: pointer;
    text-align: center;
    color: var(--ar-black);
    padding-bottom: 5px;
}

.ar-title {
    display: flex;
    align-items: center;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    margin: 40px;
}

.ar-typewriter {
    color: var(--ar-black);
    text-align: center;
    height: 50px;
    padding-top: 2em;
}

.ar-typewriter__text {
    color: var(--ar-black);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1.45;
}

.ar-website-container {
    display: block;
    margin: 0 auto;
    width: 1250px;
    height: 100%;
    overflow: hidden;
}

.ar-website-image {
    width: 100%;
}

.ar-website-row {
    display: flex;
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 1250px;
    flex-direction: row;
}

.ar-website-tile {
    width: 33.333333%;
    max-width: 380px;
    max-height: 500px;
    display: inline-block;
    position: relative;
    margin: 10px;
    transition: box-shadow .3s, transform .3s, opacity .3s;
}

.ar-website-tile:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 0px 25px 0 rgba(26, 25, 25, 0.3); */
}

.ar-website-tile a {
    cursor: pointer;
}

.ar-website-header {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 20px;
    max-width: 200px;
}

.ar-website-header h3 {
    color: #FBFBFB;
    font-family: var(--ar-fontfamily);
    word-wrap: break-word;
    font-size: 19px;
    font-weight: 500;
}

.ar-website-footer {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.ar-website-footer p {
    color: #FBFBFB;
    font-family: var(--ar-fontfamily);
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 500;
}
/* END OF BODY STYLE */


/* FOOTER STYLE */
.ar-footer {
    color: var(--ar-black);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .03px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.ar-social {
    display: inline-flex;
    padding: 10px 0px;
}

.ar-social__image {
    height: 20px;
    width: 20px;
}

/* END OF FOOTER STYLE */



/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:450px) {

    .ar-button {
        margin-top: 50px;
    }

    .ar-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .ar-social {
        height: 20px;
        width: 20px;
    }

    .ar-slide__caption {
        font-size: 0.5em;
        letter-spacing: .04px;
        left: 0em;
    }

    .ar-slide__subcaption {
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: .04px;
    }

    .ar-container-contact {
        display: block;
        margin: 35px 15px;
        -webkit-box-shadow: -4px 17px 50px -22px rgba(64, 62, 64, 0.3);
        -moz-box-shadow: -4px 17px 50px -22px rgba(64, 62, 64, 0.3);
        box-shadow: -4px 17px 50px -22px rgba(64, 62, 64, 0.3);
    }


    .ar-website-container {
        display: block;
        margin: 0 auto;
        max-width: 80vw;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .ar-website-row {
        display: block;
        max-width: 80vw;
        margin: 0;
    }

    .ar-website-tile {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 90vw;
    }

    .ar-website-header {
        font-size: 0.9rem;
        max-width: 130px;
        color: #FBFBFB;
    }

    .ar-website-footer {
        font-size: 0.7rem;
        max-width: 300px;
        color: #FBFBFB;
    }

    .ar-container-photo {
        margin: 0 auto;
    }

    .ar-column {
        width: auto;
        max-width: 350px;
    }

    .ar-column__form {
        /* background-color: var(--ar-white); */
        margin-top: 25px;
    }

    #fs-frm input,
    #fs-frm select,
    #fs-frm button,
    #fs-frm textarea {
        background-color: #FBFBFB !important;
        color: black !important;
    }

    .ar-row {
        width: auto;
        max-width: 320px;
        margin: 0 auto;
    }

    .ar-image__caption {
        margin-bottom: 15px;
    }

    .ar-image__portrait {
        margin-top: 20px;
    }

    .ar-column__portrait {
        margin: 10px;
    }

    .ar-typewriter {
        max-width: 300px;
    }

    .ar-typewriter__text {
        font-size: 0.7em;
        display: block;
        margin: 0 auto;
    }
}

/*VIEW ON TABLET*/
@media only screen and (min-width: 451px) and (max-width:1024px) {

    header {
        margin-top: 30px;
    }

    .ar-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .ar-social {
        height: 20px;
        width: 20px;
    }

    .ar-slide__caption {
        font-size: 0.7em;
        letter-spacing: .04px;
        left: 0em;
    }

    .ar-slide__subcaption {
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: .04px;
    }

    .ar-container {
        width: auto;
        max-width: 750px;
    }

    .ar-container-contact {
        display: block;
        margin: 30px;
    }

    .ar-column {
        width: auto;
        max-width: 550px;
    }

    #fs-frm input,
    #fs-frm select,
    #fs-frm button,
    #fs-frm textarea {
        background-color: #FBFBFB !important;
        color: black !important;
    }

    .ar-image__portrait {
        margin-top: 30px;
    }


    .ar-typewriter {
        max-width: 60vw;
    }

    .ar-typewriter__text {
        font-size: 0.7em;
        display: block;
        margin: 0 auto;
    }

    .ar-website-container {
        display: block;
        margin: 0 auto;
        max-width: 80vw;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .ar-website-row {
        display: block;
        max-width: 80vw;
        margin: 0;
    }

    .ar-website-tile {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 70vw;
    }

    .ar-website-header {
        font-size: 0.9rem;
        max-width: 130px;
    }

    .ar-website-footer {
        font-size: 0.7rem;
        max-width: 300px;
    }
}

/*VIEW ON IPAD PRO*/
@media (min-width: 1024px) {

    header {
        margin-top: 30px;
    }

    .ar-website-container {
        margin: 0 auto;
        max-width: 80vw;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .ar-website-row {
        max-width: 80vw;
        margin: 20px;
    }

    .ar-website-tile {
        margin: 10px;
        width: 70vw;
        max-width: 30%;
    }

    .ar-website-header {
        font-size: 0.9rem;
        max-width: 130px;
    }

    .ar-website-footer {
        font-size: 0.7rem;
        max-width: 300px;
    }
}