* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* FRAME AROUND WEBSITE */

.ar-body {
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    padding: 10px;
    overflow-x: hidden;
}

.ar-body__frame {
    background: var(--ar-red);
    position: fixed;
    z-index: 999;
}

.ar-body__frame--left {
    height: 100vh;
    left: 0;
    top: 0;
    width: 10px;

}

.ar-body__frame--top {
    width: 100vw;
    left: 0;
    top: 0;
    height: 10px;
}

.ar-body__frame--bottom {
    width: 100vw;
    left: 0;
    bottom: 0;
    height: 10px;
}

.ar-body__frame--right {
    height: 100vh;
    right: 0;
    top: 0;
    width: 10px;
}

/* END OF FRAME CODE */

/* BODY STYLE */
.ar-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.ar-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.ar-button {
	background-color: var(--ar-white);
	border-radius:4px;
	border:2px solid var(--ar-red);
	cursor:pointer;
    color: var(--ar-black);
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100px;
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    padding:8px 10px;
	text-decoration:none;
}

.ar-button:hover {
    background-color: var(--ar-white);
    position:relative;
    top:1px;
}

.ar-button:active {
	background-color: var(--ar-red);
    outline-color: var(--ar-red);
    outline-offset: -1px;
    position:relative;
    top:1px;
    color: var(--ar-white);
}


.ar-column {
    width: 700px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.ar-container__glide {
    width: calc(100% - 30px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 80px;
}

.ar-image {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 12px;
}

.ar-image__caption {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    justify-content: flex-start;
    padding-bottom: 5%;
    padding-top:1%;
    color: var(--ar-red);
}

.ar-image__subcaption {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    letter-spacing: .045px;
    text-align: left;
    color: var(--ar-black);
}

.ar-slide__arrows
{
    padding-top: 2%;
}

.ar-slide__caption {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .04px;
    text-align: left;
    padding-top:2%;
    position: absolute;
    width: 85%;
    color: var(--ar-red);
}

.ar-slide__subcaption {
    text-transform: uppercase;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    letter-spacing: .045px;
    text-align: left;
    color: var(--ar-black);
}

.ar-slide__caption--link {
    color: var(--ar-red);
}

.ar-title
{
    display: flex;
    align-items: center;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    margin: 40px;
}

.ar-typewriter {
    color: var(--ar-black);
    display: inline-block;
    text-align: center;
    padding: 55px;
    width: 20em;
    width: 100%;
    height: 50px;
    padding-top: 1em;
}

.ar-typewriter__text
{
    color: var(--ar-black);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 1.45;
}

/* END OF BODY STYLE */


/* FOOTER STYLE */
.ar-footer {
    color: var(--ar-black);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: .03px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

.ar-social {
    display: inline-flex;
    padding: 10px 0px;
}

.ar-social__image {
    height: 20px;
    width: 20px;
}

/* END OF FOOTER STYLE */



/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:450px) {
    

    .ar-button{
        margin-top:50px;
    }

    .ar-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .ar-social {
        height: 20px;
        width: 20px;
    }

    .ar-slide__caption {
        font-size: 0.5em;
        letter-spacing: .04px;
        left: 0em;
    }

    .ar-slide__subcaption {
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: .04px;
    }

    .ar-container {
        width: auto;
        max-width: 300px;
    }

    .ar-column {
        width: auto;
        max-width: 350px;
    }

    .ar-row {
        width: auto;
        max-width: 350px;
    }

    .ar-image__caption
    {
        margin-bottom: 15px;
    }

    .ar-typewriter
    {
        width: 350px;
        font-size: 0.7em;
    }
}

/*VIEW ON TABLET*/
@media only screen and (min-width: 451px) and (max-width:800px) {

    .ar-footer {
        font-size: 0.6em;
        letter-spacing: .04px;
    }

    .ar-social {
        height: 20px;
        width: 20px;
    }

    .ar-slide__caption {
        font-size: 0.7em;
        letter-spacing: .04px;
        left: 0em;
    }

    .ar-slide__subcaption {
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: .04px;
    }

    .ar-container {
        width: auto;
        max-width: 450px;
    }

    .ar-column {
        width: auto;
        max-width: 450px;
    }
}

/*VIEW ON DESKTOP*/
@media only screen and (max-width:961px) {}

@media (min-width: 1024px) {
    .ar-container__glide {
        max-width: 800px;
        margin: 0 auto;
    }
}