* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 35px 6% 35px;
    max-width: 1400px;
    margin: 0 auto;
}

.ar-brand {
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-size: 2.3em;
    color: var(--ar-black);
}

.ar-subbrand {
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-size: 0.8em;
    color: var(--ar-black);
    margin-top:-25px;
}

.ar-darkmode_label {
    position: relative;
    top: -13px;
    width: 50px;
    background-color: transparent;
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-size: 0.7em;
    color: var(--ar-black);
}

.ar-navlinks {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.ar-navlinks__item {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    font-size: 0.80em;
    font-weight: 600;
    color: var(--ar-black);
    height: 100%;
}

.ar-navlinks__item a {
    color: currentColor;
    /*EREDITA IL COLORE DALL'ELEMENTO PADRE SOPRA*/
    transition: all 0.3s ease 0s;
}

.ar-navlinks__item a:hover {
    color: var(--ar-red);
}


/*WHEN MENU ITEM IS NOT ACTIVE*/
.ar-navitem .ar-navlink {
    color: var(--ar-black);
}

/*WHEN MENU ITEM IS ACTIVE*/
.ar-navlinks__item--active {
    color: var(--ar-red);
}

.ar-navbar {
    display: flex;
    align-items: center;
    height: 50px;
}

/* HAMBURGER */
.ar-hamburger {
    display: none;
}

.ar-hamburger:focus {
    outline: none;
}

/*DARK MODE SWITCH*/
.ar-switch-wrapper {
    display: flex;
    align-items: center;
}

.ar-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;
    user-select: none;
    margin-left: 20px;
}

.ar-switch input {
    display: none;
}

.ar-slider {
    background-color: rgb(225, 223, 223);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.ar-slider:before {
    background-color: var(--ar-red);
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked+.ar-slider {
    background-color: rgb(17, 31, 31);

}

input:checked+.ar-slider:before {
    transform: translateX(10px);
    box-shadow: 7px 0px 0px 0px var(--ar-red);
    background: transparent;
}

.ar-slider.round {
    border-radius: 24px;
}

.ar-slider.round:before {
    border-radius: 50%;
}



/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:450px) {

    header {
        height: 150px;
    }

    .ar-brand {
        font-size: 1.9em;
        letter-spacing: .04px;
        margin-top: 30px;
        margin-left: 0px;
        height: 40px;
        font-weight: 700;
    }

    .ar-darkmode_label {
        display: none;
    }

    .ar-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-left: 0px;
        height: 45px;
        margin-top:-30px;
    }

    .ar-hamburger {
        display: inline-flex;
        z-index: 1;
    }

    .ar-navbar {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: var(--ar-red);
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s ease-out, visibility .5s ease-out;
        z-index: 1;
    }

    .ar-navbar--active {
        opacity: 1;
        visibility: visible;
    }

    .ar-navbar--active .ar-navlinks__item {
        opacity: 1;
    }

    .ar-navlinks {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 35%;
        width: 100%;
    }

    .ar-navlinks__item {
        background: none;
        text-align: center;
        opacity: 0;
        transition: opacity .2s ease-out .4s;
    }

    .ar-navlinks__item--active {
        color: var(--ar-white);
    }

    .ar-switch {
        margin: 0;
    }
}


/*VIEW ON TABLET*/
@media only screen and (min-width: 451px) and (max-width:700px) {

    header {
        height: 150px;
    }

    .ar-brand {
        font-size: 2em;
        letter-spacing: .04px;
        margin-top: 30px;
        margin-left: 10px;
        height: 40px;
    }

    .ar-subbrand {
        font-size: 0.8em;
        letter-spacing: .05px;
        margin-left: 10px;
        height: 75px;
        margin-top: -5px;
    }


    .ar-hamburger {
        display: inline-flex;
        z-index: 1;
        margin-top: -30px;
    }

    .ar-darkmode_label
    {
        margin-left:-4px;
    }

    .ar-navbar {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: var(--ar-red);
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s ease-out, visibility .5s ease-out;
        z-index: 1;
    }

    .ar-navbar--active {
        opacity: 1;
        visibility: visible;
    }

    .ar-navbar--active .ar-navlinks__item {
        opacity: 1;
    }

    .ar-navlinks {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 35%;
        width: 100%;
    }

    .ar-navlinks__item {
        background: none;
        text-align: center;
        opacity: 0;
        transition: opacity .2s ease-out .4s;
    }

    .ar-navlinks__item--active {
        color: var(--ar-white);
    }

    .ar-switch {
        margin: 0;
    }
}