:root {
    --ar-red: #D70909;
    --ar-black: #0B0B0B;
    --ar-framesize: 8px;
    --ar-white: #FBFBFB;
    --ar-fontfamily: "Helvetica Neue", Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 6% 5%;
}

.ar-brand {
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    font-weight: 600;
    font-size: 2.5em;
    color: var(--ar-black);
}

.ar-subbrand {
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    font-weight: 500;
    font-size: 0.9em;
    color: var(--ar-black);
    margin-top: -8px;
}

.ar-navitem
{
    display: inline-block;
    padding: 5px;
    background-color: var(--ar-white);
    font-family: var(--ar-fontfamily);
    font-weight: 500;
    font-size: 0.9em;
    color: var(--ar-black);
}

.ar-navlinks {
    list-style: none;
}

.ar-navlinks li {
    display: inline-block;
}

.ar-navlinks li a {
    transition: all 0.3s ease 0s;
}

.ar-navlinks li a:hover {
    color: var(--ar-red);
}

.ar-current {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.ar-current-focusable:active,
.ar-current-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

/*WHEN MENU ITEM IS NOT ACTIVE*/
.ar-navitem .ar-navlink {
    color: var(--ar-black);
}

/*WHEN MENU ITEM IS ACTIVE*/
.ar-navitem.active .ar-navlink {
    color: var(--ar-red);
}

.ar-navbar__toggler
{
    padding: 0.25rem 0.75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    background-color: transparent;
    border: 3px solid #0B0B0B;
}

/* HAMBURGER MENU STYLE */
.ar-hamburger {
    overflow: hidden;
    width: 30px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 0;
    outline: none;
}

.ar-hamburger.collapsed .ar-hamburger__line--top,
.ar-hamburger.collapsed .ar-hamburger__line--middle,
.ar-hamburger.collapsed .ar-hamburger__line--bottom {
    transform: none;
    opacity: 1;
}

.ar-hamburger__line {
    width: 30px;
    height: 3px;
    background: var(--ar-black);
    border-radius: 4px;
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

.ar-hamburger__line--top {

    transform: rotate(45deg) translate(3px, 5px);
}

.ar-hamburger__line--middle {
    transform: rotate(495deg) translate(0px);
}

.ar-hamburger__line--bottom {
    transform-origin: bottom right;
    transform: rotate(45deg);
    opacity: 0;
}
/* END OF HAMBURGER MENU STYLE */



/*VIEW ON SMARTPHONE*/
@media only screen and (max-width:400px) {

    header
    {
        height:150px;
    }

    .ar-brand {
        font-size: 1.8em !important;
        letter-spacing: .04px;
        margin-top: 30px;
        margin-left:10px !important;
        height:40px;

    }

    .ar-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-left:10px !important;
        height:75px;
    }

    .ar-navlinks {
        font-size: 0.6em;
        height:40px;
        width: 70px;
    };

}


/*VIEW ON TABLET*/
@media only screen and (min-width: 401px) and (max-width:800px) {

    header
    {
        height:150px;
    }

    .ar-brand {
        font-size: 2em !important;
        letter-spacing: .04px;
        margin-top: 30px;
        margin-left:10px !important;
        height:40px;

    }

    .ar-subbrand {
        font-size: 0.6em;
        letter-spacing: .04px;
        margin-top: -5px !important;
        margin-left:10px !important;
        height:75px;
    }

    .ar-navlinks {
        font-size: 0.8em;
        height:50px;
        width: 280px;
    };

}
