/* :root {
    --ar-red: #D70909;
    --ar-black: #0B0B0B;
    --ar-framesize: 8px;
    --ar-white: #FBFBFB;
    --ar-fontfamily: "Helvetica Neue", Arial, sans-serif;
}

:root[data-theme="dark"] {
    --ar-red: #D70909;
    --ar-black:#FBFBFB;
    --ar-white: #1A2D2D;
} */


:root {
    --ar-red: #D70909;
    --ar-black: #0B0B0B;
    --ar-framesize: 8px;
    --ar-white: #FBFBFB;
    --ar-fontfamily: 'Helvetica Neue', sans-serif;
}

/* DARK MODE CLASS SWITCH */
.dark {
    --ar-black: #FBFBFB;
    --ar-white: rgb(15,15,15);
}

.dark .ar-image
{
    box-shadow: none;
}

.light {
    --ar-white: #FBFBFB;
    --ar-black: #0B0B0B;
}