/* :root {
    --ar-red: #D70909;
    --ar-black: #0B0B0B;
    --ar-framesize: 8px;
    --ar-white: #FBFBFB;
    --ar-fontfamily: "Helvetica Neue", Arial, sans-serif;
}

:root[data-theme="dark"] {
    --ar-red: #D70909;
    --ar-black:#FBFBFB;
    --ar-white: #1A2D2D;
} */

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --ar-black:#FBFBFB;
        --ar-white: #0B0B0B;
    }
     */

     

:root {
    --ar-red: #D70909;
    --ar-black: #0B0B0B;
    --ar-framesize: 8px;
    --ar-white: #FBFBFB;
    --ar-fontfamily: "Helvetica Neue", Arial, sans-serif;
}
